@font-face {
    font-family: Segoe;
    src: url("../fonts/seguisym.ttf");
}

@font-face {
    font-family: Museo;
    src: url("../fonts/MuseoSans_500.otf");
}

/* Media Queries */

@mixin mq-xs {
    @media (min-width: 320px) {
        @content;
    }
}

@mixin mq-sm {
    @media (min-width: 480px) {
        @content;
    }
}

@mixin mq-md {
    @media (min-width: 720px) {
        @content;
    }
}

@mixin mq-lg {
    @media (min-width: 1024px) {
        @content;
    }
}

$box-shadow: 0px 1px 22px 4px rgba(61, 61, 61, 0.07);
$border: 6px solid #fff;
$items: 4;
$rows: ceil($items/2);
/* Card sizing */

$card-height: 400px;
$card-width: 450px;
$inner-margin: 15px;
$number-size: 35px;
$stagger: 180px;
$outer-margin: 90px;
$marker-size: 12px;
/* Colors */

$background: #fff;
$font-color: #fff;
$timeline: #fff;
/* Calculations */

$container-height: $rows * ($card-height + $outer-margin)+$stagger;
$container-width: $card-width*2+$outer-margin*3;
$head-height: $number-size+50;
$body-height: $card-height - $head-height;
$marker-dist: $card-width+$outer-margin/2 - $marker-size/2;
/* Placeholders */

@include mq-lg {
    %arrow {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
    }
    %marker {
        position: absolute;
        content: "";
        width: $marker-size;
        height: $marker-size;
        background-color: $timeline;
        border-radius: $marker-size;
        z-index: 1;
    }
}

/* Some Cool Stuff */

$counter: $items - $rows+2;
@for $i from 1 through $rows {
    .timeline-card:nth-child(#{$i*2-1}) {
        order: $i
    }
    .timeline-card:nth-child(#{$i*2}) {
        order: $counter
    }
    $counter: $counter+1;
}

/* Loading keyframes */

@keyframes load {
    0%,
    100% {
        box-shadow: 0em -2.6em 0em 0em rgb(61, 61, 61), 1.8em -1.8em 0 0em rgba(61, 61, 61,  0.2), 2.5em 0em 0 0em rgba(61, 61, 61,  0.2), 1.75em 1.75em 0 0em rgba(61, 61, 61,  0.2), 0em 2.5em 0 0em rgba(61, 61, 61,  0.2), -1.8em 1.8em 0 0em rgba(61, 61, 61,  0.2), -2.6em 0em 0 0em rgba(61, 61, 61,  0.5), -1.8em -1.8em 0 0em rgba(61, 61, 61,  0.7);
    }
    12.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(61, 61, 61,  0.7), 1.8em -1.8em 0 0em rgba(61, 61, 61,  0), 2.5em 0em 0 0em rgba(61, 61, 61,  0.2), 1.75em 1.75em 0 0em rgba(61, 61, 61,  0.2), 0em 2.5em 0 0em rgba(61, 61, 61,  0.2), -1.8em 1.8em 0 0em rgba(61, 61, 61,  0.2), -2.6em 0em 0 0em rgba(61, 61, 61,  0.2), -1.8em -1.8em 0 0em rgba(61, 61, 61,  0.5);
    }
    25% {
        box-shadow: 0em -2.6em 0em 0em rgba(61, 61, 61,  0.5), 1.8em -1.8em 0 0em rgba(61, 61, 61,  0.7), 2.5em 0em 0 0em rgba(61, 61, 61,  0), 1.75em 1.75em 0 0em rgba(61, 61, 61,  0.2), 0em 2.5em 0 0em rgba(61, 61, 61,  0.2), -1.8em 1.8em 0 0em rgba(61, 61, 61,  0.2), -2.6em 0em 0 0em rgba(61, 61, 61,  0.2), -1.8em -1.8em 0 0em rgba(61, 61, 61,  0.2);
    }
    37.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(61, 61, 61,  0.2), 1.8em -1.8em 0 0em rgba(61, 61, 61,  0.5), 2.5em 0em 0 0em rgba(61, 61, 61,  0.7), 1.75em 1.75em 0 0em rgba(61, 61, 61,  0), 0em 2.5em 0 0em rgba(61, 61, 61,  0.2), -1.8em 1.8em 0 0em rgba(61, 61, 61,  0.2), -2.6em 0em 0 0em rgba(61, 61, 61,  0.2), -1.8em -1.8em 0 0em rgba(61, 61, 61,  0.2);
    }
    50% {
        box-shadow: 0em -2.6em 0em 0em rgba(61, 61, 61,  0.2), 1.8em -1.8em 0 0em rgba(61, 61, 61,  0.2), 2.5em 0em 0 0em rgba(61, 61, 61,  0.5), 1.75em 1.75em 0 0em rgba(61, 61, 61,  0.7), 0em 2.5em 0 0em rgba(61, 61, 61,  0), -1.8em 1.8em 0 0em rgba(61, 61, 61,  0.2), -2.6em 0em 0 0em rgba(61, 61, 61,  0.2), -1.8em -1.8em 0 0em rgba(61, 61, 61,  0.2);
    }
    62.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(61, 61, 61,  0.2), 1.8em -1.8em 0 0em rgba(61, 61, 61,  0.2), 2.5em 0em 0 0em rgba(61, 61, 61,  0.2), 1.75em 1.75em 0 0em rgba(61, 61, 61,  0.5), 0em 2.5em 0 0em rgba(61, 61, 61,  0.7), -1.8em 1.8em 0 0em rgba(61, 61, 61,  0), -2.6em 0em 0 0em rgba(61, 61, 61,  0.2), -1.8em -1.8em 0 0em rgba(61, 61, 61,  0.2);
    }
    75% {
        box-shadow: 0em -2.6em 0em 0em rgba(61, 61, 61,  0.2), 1.8em -1.8em 0 0em rgba(61, 61, 61,  0.2), 2.5em 0em 0 0em rgba(61, 61, 61,  0.2), 1.75em 1.75em 0 0em rgba(61, 61, 61,  0.2), 0em 2.5em 0 0em rgba(61, 61, 61,  0.5), -1.8em 1.8em 0 0em rgba(61, 61, 61,  0.7), -2.6em 0em 0 0em rgba(61, 61, 61,  0), -1.8em -1.8em 0 0em rgba(61, 61, 61,  0.2);
    }
    87.5% {
        box-shadow: 0em -2.6em 0em 0em rgba(61, 61, 61,  0.2), 1.8em -1.8em 0 0em rgba(61, 61, 61,  0.2), 2.5em 0em 0 0em rgba(61, 61, 61,  0.2), 1.75em 1.75em 0 0em rgba(61, 61, 61,  0.2), 0em 2.5em 0 0em rgba(61, 61, 61,  0.2), -1.8em 1.8em 0 0em rgba(61, 61, 61,  0.5), -2.6em 0em 0 0em rgba(61, 61, 61,  0.7), -1.8em -1.8em 0 0em rgba(61, 61, 61,  0);
    }
}