@font-face {
    font-family: Segoe;
    src: url("../fonts/seguisym.ttf");
}

@font-face {
    font-family: Museo;
    src: url("../fonts/MuseoSans_500.otf");
}

/* Media Queries */

@mixin mq-xs {
    @media (min-width: 320px) {
        @content;
    }
}

@mixin mq-sm {
    @media (min-width: 480px) {
        @content;
    }
}

@mixin mq-md {
    @media (min-width: 720px) {
        @content;
    }
}

@mixin mq-lg {
    @media (min-width: 1024px) {
        @content;
    }
}

$background: #f7f7f7;
$box-shadow: 0px 1px 22px 4px rgba(0, 0, 0, 0.07);
$border: 1px solid rgba(191, 191, 191, 0.4);
$items: 5;
$rows: ceil($items/2);
/* Card sizing */

$card-height: 400px;
$card-width: 450px;
$inner-margin: 15px;
$number-size: 35px;
$stagger: 180px;
$outer-margin: 90px;
$marker-size: 9px;
/* Colors */

$steps: #46b8e9;
$colors: #46b8e9,
#3ee9d1,
#ce43eb,
#4d92eb;
$timeline: #bdbdbd;
/* Calculations */

$container-height: $rows * ($card-height + $outer-margin)+$stagger;
$container-width: $card-width*2+$outer-margin*3;
$head-height: $number-size+50;
$body-height: $card-height - $head-height;
$marker-dist: $card-width+$outer-margin/2 - $marker-size/2;
/* Placeholders */

@include mq-lg {
    %arrow {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
    }
    %marker {
        position: absolute;
        content: "";
        width: $marker-size;
        height: $marker-size;
        background-color: $timeline;
        border-radius: $marker-size;
        box-shadow: 0px 0px 2px 8px $background;
    }
}

/* Some Cool Stuff */

$counter: $items - $rows+2;
@for $i from 1 through $rows {
    .timeline-card:nth-child(#{$i*2-1}) {
        order: $i
    }
    .timeline-card:nth-child(#{$i*2}) {
        order: $counter
    }
    $counter: $counter+1;
}