/* Settings */

@import "settings";

/* Border Box */

* {
    box-sizing: border-box;
}

/* Fonts */

body {
    background: url("../img/background.png") no-repeat fixed;
    background-size: cover;
    font-family: "Segoe", sans-serif;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: center;
}

#timeline {
    color: $font-color;
    position: relative;
    h1.timeline__title {
        text-align: center;
        font-size: 3rem;
        font-weight: 200;
        margin-bottom: 20px;
    }
    p.timeline__description {
        text-align: justify;
        max-width: 75%;
        margin: auto;
        margin-bottom: 45px;
    }
    .timeline-wrapper {
        position: relative;
        margin: auto;
        @include mq-lg {
            display: flex;
            flex-flow: column wrap;
            width: $container-width;
            height: $container-height;
            margin: 0 auto;
        }
        &::before {
            z-index: 1;
            content: "";
            position: absolute;
            top: -25px;
            left: 49%;
            background: url("../img/circle.png") no-repeat center;
            width: 30px;
            height: 30px;
        }
        &::after {
            z-index: 1;
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 50%;
            border-left: $border;
            @include mq-lg {
                border-left: 6px solid $timeline;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.08);
            }
        }
    }
    .timeline-card {
        position: relative;
        display: block;
        margin: 10px auto 80px;
        max-width: 94%;
        z-index: 2;
        background: $background;
        border-radius: 15px;
        @include mq-sm {
            max-width: 60%;
            box-shadow: $box-shadow;
        }
        @include mq-md {
            max-width: 40%;
        }
        @include mq-lg {
            max-width: $card-width;
            min-height: $card-height;
            margin: $outer-margin;
            margin-top: $outer-margin/2;
            margin-bottom: $outer-margin/2;
            &:nth-child(odd) {
                margin-right: $outer-margin/2;
                .timeline-card--head::after {
                    @extend %arrow;
                    border-left-width: 15px;
                    border-left-style: solid;
                    left: 100%;
                    top: 25px;
                }
                .timeline-card--head::before {
                    @extend %marker;
                    left: $marker-dist + 3.5;
                    top: 35px;
                }
            }
            &:nth-child(even) {
                margin-left: $outer-margin/2;
                .timeline-card--head::after {
                    @extend %arrow;
                    border-right-width: 15px;
                    border-right-style: solid;
                    right: 100%;
                    top: 25px;
                }
                .timeline-card--head::before {
                    @extend %marker;
                    right: $marker-dist - 3.5;
                    top: 35px;
                }
            }
            &:nth-child(2) {
                margin-top: $stagger;
            }
        }
        .timeline-card--head {
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            color: $font-color;
            font-weight: 400;
            padding: 0 17px;
            h2 {
                color: #4e4e4e;
                font-family: "Segoe";
                font-size: 21px;
                font-weight: 300;
                line-height: 23px;
                margin-bottom: 0;
            }
        }
        .timeline-card--body {
            .content__fig {
                position: relative;
                margin: 17px;
                .fig_img {
                    display: block;
                    width: 100%;
                }
                .fig_figcap {
                    position: absolute;
                    right: 10px;
                    bottom: -3px;
                    color: #ffffff;
                    font-family: "Museo";
                    font-size: 29px;
                    font-weight: 400;
                    line-height: 23px;
                }
            }
            .content__btns {
                display: flex;
                justify-content: flex-start;
                margin: 0 17px;
                .btn {
                    border: none;
                    background-color: transparent;
                    cursor: pointer;
                }
                .btn--icon {
                    margin-right: 10px;
                }
                .icon--www {
                    background: url("../img/www-icon.png") no-repeat center;
                    width: 26px;
                    height: 26px;
                }
                .icon--twitter {
                    background: url("../img/twitter-icon.png") no-repeat center;
                    width: 27px;
                    height: 27px;
                }
                .btn--text {
                    color: #7e7e7e;
                    font-size: 21px;
                    font-weight: 300;
                    line-height: 23px;
                }
            }
        }
    }
    .loading-content {
        content: "";
        position: absolute;
        bottom: -35px;
        left: 44%;
        width: 149px;
        height: 32px;
        background-color: red;
        border-radius: 15px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.08);
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .loading-content__loader {
        z-index: 2;
        font-size: 3px;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        position: relative;
        text-indent: -9999em;
        -webkit-animation: load 1.1s infinite ease;
        animation: load 1.1s infinite ease;
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
    }
    .loading-content__text {
        color: #7e7e7e;
        font-family: "Segoe";
        font-size: 19px;
        font-weight: 300;
        line-height: 23px;
    }
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    .footer__title {
        color: $font-color;
        font-family: "Segoe";
        font-size: 17px;
        margin-top: 80px;
        margin-bottom: 55px;
    }
}