/* Settings */

@import "settings";

/* Border Box */

* {
    box-sizing: border-box;
}

/* Fonts */

body {
    background: url("../img/background.png") no-repeat fixed;
    font-family: "Segoe", sans-serif;
}

.header {
    display: flex;
    justify-content: center;
}

#timeline {
    h1.timeline__title {
        text-align: center;
        font-size: 3rem;
        font-weight: 200;
        margin-bottom: 20px;
    }
    p.timeline__description {
        text-align: center;
        max-width: 90%;
        margin: auto;
        margin-bottom: 45px;
    }
    .timeline-wrapper {
        position: relative;
        margin: auto;
        @include mq-lg {
            display: flex;
            flex-flow: column wrap;
            width: $container-width;
            height: $container-height;
            margin: 0 auto;
        }
        &::after {
            z-index: 1;
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 50%;
            border-left: $border;
            @include mq-lg {
                border-left: 1px solid $timeline;
            }
        }
    }
    .timeline-card {
        position: relative;
        display: block;
        margin: 10px auto 80px;
        max-width: 94%;
        z-index: 2;
        background: $background;
        @include mq-sm {
            max-width: 60%;
            box-shadow: $box-shadow;
        }
        @include mq-md {
            max-width: 40%;
        }
        @include mq-lg {
            max-width: $card-width;
            min-height: $card-height;
            margin: $outer-margin;
            margin-top: $outer-margin/2;
            margin-bottom: $outer-margin/2;
            &:nth-child(odd) {
                margin-right: $outer-margin/2;
                .timeline-card--head::after {
                    @extend %arrow;
                    border-left-width: 15px;
                    border-left-style: solid;
                    left: 100%;
                }
                .timeline-card--head::before {
                    @extend %marker;
                    left: $marker-dist + 1;
                }
            }
            &:nth-child(even) {
                margin-left: $outer-margin/2;
                .timeline-card--head::after {
                    @extend %arrow;
                    border-right-width: 15px;
                    border-right-style: solid;
                    right: 100%;
                }
                .timeline-card--head::before {
                    @extend %marker;
                    right: $marker-dist - 1;
                }
            }
            &:nth-child(2) {
                margin-top: $stagger;
            }
        }
        .timeline-card--head {
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            color: #fff;
            font-weight: 400;
            padding: 0 17px;
            .number-box {
                display: inline;
                float: left;
                margin: $inner-margin;
                padding: 10px;
                font-size: $number-size;
                line-height: $number-size;
                font-weight: 600;
                background: rgba(0, 0, 0, 0.17);
            }
            h2 {
                color: #4e4e4e;
                font-family: "Segoe";
                font-size: 21px;
                font-weight: 300;
                line-height: 23px;
                margin-bottom: 0;
            }
        }
        .timeline-card--body {
            .content__fig {
                position: relative;
                margin: 17px;
                .fig_img {
                    display: block;
                    width: 100%;
                }
                .fig_figcap {
                    position: absolute;
                    right: 10px;
                    bottom: -3px;
                    color: #ffffff;
                    font-family: "Museo";
                    font-size: 29px;
                    font-weight: 400;
                    line-height: 23px;
                }
            }
            .content__btns {
                display: flex;
                justify-content: flex-start;
                margin: 0 17px;
                .btn {
                    border: none;
                    background-color: transparent;
                    cursor: pointer;
                }
                .btn--icon {
                    margin-right: 10px;
                }
                .icon--www {
                    background: url("../img/www-icon.png") no-repeat center;
                    width: 26px;
                    height: 26px;
                }
                .icon--twitter {
                    background: url("../img/twitter-icon.png") no-repeat center;
                    width: 27px;
                    height: 27px;
                }
                .btn--text {
                    color: #7e7e7e;
                    font-size: 21px;
                    font-weight: 300;
                    line-height: 23px;
                }
            }
        }
        @for $i from 1 through $items {
            &--step#{$i} {
                $color: nth($colors, ((($i - 1) % 4) + 1));
                background-color: $color;
                .timeline-card--head::after {
                    border-color: $color;
                }
            }
        }
    }
}